@charset "utf-8";

$base-font-family: "Source Sans Pro", sans-serif;
$base-font-size:   100%;
$base-font-weight: 400;
$base-line-height: 1.7rem;

$spacing-unit:     30px;

$background-color: #fff;
$background-image: url("/img/pattern.svg");

// Colors //
$purple:           #320b4c;
$yellow:           #ffcb05;
$pink:             #ef1164;
$blue:             #33bcc6;
$white:            #fff;
$text-color:       #000;

$l:         908px;
$m:         660px;
$s:         550px;

// Transitions, box-shadows, etc.

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin box-sizing($box-sizing...) {
    -moz-box-sizing:    $box-sizing;
    -o-box-sizing:      $box-sizing;
    -webkit-box-sizing: $box-sizing;
    box-sizing:         $box-sizing;
}
@mixin box-shadow($box-shadow...) {
    -moz-box-shadow:    $box-shadow;
    -o-box-shadow:      $box-shadow;
    -webkit-box-shadow: $box-shadow;
    box-shadow:         $box-shadow;
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import "normalize";

body {
  margin-bottom: 300px;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  color: $text-color;
  line-height: $base-line-height;
}

.o-vyluce-link a.o-vyluce-link,
.jak-to-funguje-link a.jak-to-funguje-link,
.skoly-link a.skoly-link,
.vylukari-link a.vylukari-link,
.media-link a.media-link,
.spolek-link a.spolek-link,
.blog-link a.blog-link,
.prihlaska-link a.prihlaska-link {
	color: $yellow;
}

.base-links {
  display: inline-block;
  margin-top: .5em;
  padding-bottom: 1px;
  font-size: 1.125em;
  color: $text-color;
  text-decoration: none;
  font-weight: 400;
  background: linear-gradient(#fff,#fff),linear-gradient($pink,$pink);
  background-size: 0 0,1px 1px;
  background-repeat: no-repeat,repeat-x;
  text-shadow: .025em 0 #fff,
              -.025em 0 #fff,
               .05em 0 #fff,
              -.05em 0 #fff,
               .075em 0 #fff,
              -.075em 0 #fff,
               .1em 0 #fff,
              -.1em 0 #fff,
               .125em 0 #fff,
              -.125em 0 #fff,
               .15em 0 #fff,
              -.15em 0 #fff;
  background-position: 0 80%,100% 80%;
  @include transition(all .1s)
  &:hover {
    background: none;
    text-shadow: none;
    text-decoration: none;
    color: $pink;
  }
}

.container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  @include box-sizing(border-box);
  padding: 0 25px;
}

.header {
  background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='170' width='1.6e3'%3E%3Cpath d='m1.48e3 0 120 86v-86h-120z' fill='%233a1554'/%3E%3Cpath d='m1.39e3 139 21 31h189v-28z' fill='%232d0b47'/%3E%3Cpath d='m1.45e3 0-60 139 210 3v-56l-120-86z' fill='%23320f4c'/%3E%3Cpath d='m1.39e3 139-37 31h58z' fill='%2322043d'/%3E%3Cpath d='m1.45e3 0-130 116 70 23z' fill='%232b0945'/%3E%3Cpath d='m1.27e3 0 50 116 130-116z' fill='%232d0b47'/%3E%3Cpath d='m1.32e3 116-22 54h55l37-31z' fill='%23280642'/%3E%3Cpath d='m1.19e3 0-10 82 90-82z' fill='%23300d4b'/%3E%3Cpath d='m1.18e3 82 50 88h68l22-54z' fill='%232a0744'/%3E%3Cpath d='m1.27e3 0-90 82 140 34z' fill='%232d0a47'/%3E%3Cpath d='m1.18e3 82v88h50z' fill='%23270541'/%3E%3Cpath d='m1.03e3 0 150 82-40-82z' fill='%23310c4b'/%3E%3Cpath d='m1.18e3 82-208 55 39 33h169z' fill='%232c0846'/%3E%3Cpath d='m1.14e3 0 40 82 10-82z' fill='%232f0b49'/%3E%3Cpath d='m961 0 11 137 208-55-150-82z' fill='%23330e4d'/%3E%3Cpath d='m951 170h60l-39-33z' fill='%232a0744'/%3E%3Cpath d='m731 131 31 39h189l21-33z' fill='%23300b4a'/%3E%3Cpath d='m773 47-42 84 241 6z' fill='%23350e4f'/%3E%3Cpath d='m871 0-98 47 199 90-11-137h-91z' fill='%23361050'/%3E%3Cpath d='m760 0 13 47 98-47h-111z' fill='%23340d4e'/%3E%3Cpath d='m731 131-6 39h37z' fill='%232d0947'/%3E%3Cpath d='m731 131-104 3 15 36h83z' fill='%23320d4c'/%3E%3Cpath d='m686 44 45 87 42-84-87-3z' fill='%23381152'/%3E%3Cpath d='m693 0-7 44 87 3-13-47z' fill='%23371151'/%3E%3Cpath d='m670 0 16 44 7-44h-23z' fill='%23320b4c'/%3E%3Cpath d='m686 44-59 90 104-3-45-87z' fill='%23371151'/%3E%3Cpath d='m627 134-50 36h65l-15-36z' fill='%23310c4b'/%3E%3Cpath d='m561 0 125 44-16-44z' fill='%23360f50'/%3E%3Cpath d='m478 0 149 134 59-90-125-44z' fill='%233a1454'/%3E%3Cpath d='m445 0 66 170h66l50-36-149-134z' fill='%23381252'/%3E%3Cpath d='m402 0-94 170h103l13-170h-22z' fill='%23330c4d'/%3E%3Cpath d='m342 0-74 40 21 130h19l94-170h-60z' fill='%23340e4e'/%3E%3Cpath d='m424 0-13 170h100l-66-170h-21z' fill='%23350e4f'/%3E%3Cpath d='m254 0 14 40 74-40h-88z' fill='%2330084a'/%3E%3Cpath d='m200 0 68 40-14-40z' fill='%232d0547'/%3E%3Cpath d='m268 40-158 59 134 71h45l-21-130z' fill='%2330094a'/%3E%3Cpath d='m110 99 3 71h131l-134-71z' fill='%232a0444'/%3E%3Cpath d='m103 0 7 99 158-59-68-40h-97z' fill='%23320a4c'/%3E%3Cpath d='m110 99zl-62 71h65l-3-71z' fill='%23290442'/%3E%3Cpath d='m110 99zl-110 20v51h48l62-71z' fill='%232e0748'/%3E%3Cpath d='m64 0 46 99-7-99h-39z' fill='%2330094a'/%3E%3Cpath d='m0 0v119l110-20-46-99h-64z' fill='%23320a4c'/%3E%3C/svg%3E");
  background-size: cover;
  background-color: $purple;
  &__inner {
    max-width: 1024px;
    position: relative;
    @include box-sizing(border-box);
    margin: 0 auto;
    padding: 0 25px;
  }
  &__site-logo {
    display: inline-block;
    margin: 20px auto 2px;
    &_svg {
      width: 183px;
      height: 96px;
      stroke: $white;
      stroke-width: 50px;
      fill: $white;
      @include transition(all .2s)
      &:hover {
        stroke: $blue;
        fill: $blue;
      }
    }
  }
  &__social-media {
    position: absolute;
    top: 65px;
    right: 209px;
    &_links {
      display: inline-block;
      margin: 0 8px;
      fill: $white;
    }
    &_svg {
      width: 22px;
      height: 22px;
      @include transition(all .2s)
      &:hover {
        fill: $pink;
      }
    }
  }
  &__contact {
    display: inline-block;
    height: 42px;
    position: absolute;
    top: 49px;
    right: 25px;
    line-height: 1;
    text-align: right;
    &_heading {
      color: rgba($white, .7);
      font-size: .875em;
      font-weight: 400;
    }
    &_mail {
      color: $white;
      text-decoration: none;
      font-size: 1.5em;
      @include transition(all .2s)
      &:hover {
        color: $pink;
      }
    }
  }
}

.dropdown {
  display: none;
}

.nav-menu {
  line-height: 17px;
  text-align: justify;
  font-size: .875em;
  font-weight: 400;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  &__item {
    color: $white;
    text-decoration: none;
    @include transition(all .2s)
    &:hover {
      color: $yellow;
    }
  }
}

.fp-intro {
  &__image {
    display: block;
    height: 158px;
    background: url("/img/front-page.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #757364;
  }
  &__motto {
    display: block;
    height: 122px;
    line-height: 122px;
    text-align: center;
    font-size: 2.75em;
    font-weight: 400;
    quotes: none;
    &:before {
      content: none;
    }
    &:after {
      content: none;
    }
  }
}

.fp-features {
  display: block;
  padding: 60px 0px;
  background-color: #f9f9f9;
  background-image: url("data:image/svg+xml,%3Csvg height='8' width='40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8.72 0c-2.71 .848-5.48 1.6-8.72 1.6v.8c4.26 0 7.72-1.28 11.3-2.4h-2.58zm20 0c3.6 1.12 7 2.4 11.3 2.4v-.8c-3.2 0-6-.752-8.7-1.6h-2.6zm-8.7 1.6c-7.5 0-12.5 4-20 4v.8c7.5 0 12.5-4 20-4s12.5 4 20 4v-.8c-7.5 0-12.5-4-20-4zm0 4c-4.3 0-7.7 1.28-11.3 2.4h2.6c2.7-.85 5.5-1.6 8.7-1.6s6 .75 8.7 1.6h2.6c-3.6-1.12-7-2.4-11.3-2.4z' fill='%23c4c0c9'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: auto;
  &__inner {
    @extend .container;
    text-align: justify;
    &:after {
      content: "";
      display: inline-block;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  &__box {
    display: inline-block;
    width: 282px;
    height: 214px;
    margin-bottom: -35px;
    padding: 40px;
    @include box-sizing(border-box);
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    background: $purple;
    border-radius: 6px;
    color: $white;
    @include box-shadow(0 1px 3px 0 rgba(0, 0, 0, .2));
    &_yellow:hover {
      color: $yellow;
      &:hover .fp-features__box__svg {
        width: 36px;
        fill: $yellow;
        stroke: $yellow;
      }
    }
    &_pink:hover {
      color: $pink;
      &:hover .fp-features__box__svg {
        width: 36px;
        fill: $pink;
        stroke: $pink;
      }
    }
    &_blue:hover {
      color: $blue;
      &:hover .fp-features__box__svg {
        width: 36px;
        fill: $blue;
        stroke: $blue;
      }
    }
    &__svg {
      width: 46px;
      height: 46px;
      fill: $white;
      stroke: $white;
      stroke-width: 150px;
      @include transition(width .3s)
    }
    &__heading {
      margin: .5em 0;
      font-weight: 600;
      font-size: 1.75em;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
    }
    &__description {
      line-height: 1em;
      font-size: .875em;
    }
  }
}

.fp-about {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 35px 0;
  background: #fff;
  &__inner {
    @extend .container;
  }
  &__photo {
    float: left;
    margin: 0 30px 0 0;
    display: inline-block;
    max-width: 100%;
  }
  &__description {
    &__heading {
      margin: 0 0 .5em;
      font-weight: 600;
    }
    &__content {
      line-height: 1.75;
      font-size: .875em;
    }
    &__links {
      @extend .base-links;
      margin-top: .5em;
    }
  }
}

.main {
  width: 100%;
  background: #fff;
}

.content {
  max-width: 1024px;
  @include box-sizing(border-box);
  margin: 0 auto;
  padding: 35px 25px;
  &__inner {
    max-width: 684px;
  }
  &__heading {
    margin: 1.5em 0 0;
    font-size: 1.5em;
    font-weight: 600;
    &_first {
      margin-top: 0;
    }
  }
  &__p {
    margin: .5em 0;
    line-height: 1.75;
    font-size: .875em;
    font-weight: 400;
    &_first {
      margin-bottom: 1.5em;
    }
  }
  &__schools-map {
    display: inline-block;
    margin: 15px 5px 5px;
    float: right;
  }
}

.jak-to-funguje {
  &__definition {
    margin: 0 -1em 1.5em;
    padding: .75em 1em;
    font-weight: 400;
    background: repeating-linear-gradient(
    135deg,
    lighten(desaturate($blue,10%),44%),
    lighten(desaturate($blue,10%),44%) 50%,
    lighten(desaturate($blue,10%),47%) 50%,
    lighten(desaturate($blue,10%),47%) 100%
    );
    border-left: .375em solid lighten(desaturate($blue,10%),15%);
    border-radius: 1px;
    @include box-shadow(1px 1px 1px 0px rgba((lighten(desaturate($blue,40%),5%)), .5));
  }
}

.vylukari {
  &__blockquote {
    display: inline-block;
    margin: 1em 0;
    padding: .75em 1em;
    border-left: .375em solid lighten(desaturate($purple,10%),5%);
    background: repeating-linear-gradient(
    135deg,
    lighten(desaturate($purple,60%),77%),
    lighten(desaturate($purple,60%),77%) 50%,
    lighten(desaturate($purple,60%),79%) 50%,
    lighten(desaturate($purple,60%),79%) 100%
    );
    border-radius: 2px;
    @include box-shadow(1px 1px 1px 0px rgba((lighten(desaturate($purple,10%),5%)), .2));
  }
  &__container {
    display: inline-block;
  }
  &__image-circle {
    display: inline-block;
    float: right;
    margin: 10px;
    border-radius: 50%;
  }
  &__p {
    display: inline;
    max-width: 75%;
    @extend .content__p;
  }
  &__heading {
    @extend .content__heading;
    &_first {
      @extend .content__heading_first;
    }
    &_subheader {
      display: block;
      margin: .75em 0 0;
      font-size: .875rem;
      font-weight: 400;
    }
  }
  &__name {
    float: right;
    margin: .5em 1em 0 0;
    font-size: 1.125em;
    font-weight: 600;
    &_job {
      font-size: .875rem;
      font-weight: 600;
      font-style: italic;
    }
  }
}

.post {
  &__heading {
    @extend .content__heading;
    margin-top: 0em;
  }
  &__p {
    @extend .content__p;
  }
  &__image {
    width: 100%;
  }
  &__img-desc {
    font-weight: 600;
    font-size: .75rem;
    font-style: italic;
  }
  &__links {
    @extend .base-links;
    @extend .post__img-desc;
  }
}

.footer {
  width: 100%;
  height: 300px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
  text-align: center;
  background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='170' width='1.6e3'%3E%3Cpath d='m1.48e3 0 120 86v-86h-120z' fill='%233a1554'/%3E%3Cpath d='m1.39e3 139 21 31h189v-28z' fill='%232d0b47'/%3E%3Cpath d='m1.45e3 0-60 139 210 3v-56l-120-86z' fill='%23320f4c'/%3E%3Cpath d='m1.39e3 139-37 31h58z' fill='%2322043d'/%3E%3Cpath d='m1.45e3 0-130 116 70 23z' fill='%232b0945'/%3E%3Cpath d='m1.27e3 0 50 116 130-116z' fill='%232d0b47'/%3E%3Cpath d='m1.32e3 116-22 54h55l37-31z' fill='%23280642'/%3E%3Cpath d='m1.19e3 0-10 82 90-82z' fill='%23300d4b'/%3E%3Cpath d='m1.18e3 82 50 88h68l22-54z' fill='%232a0744'/%3E%3Cpath d='m1.27e3 0-90 82 140 34z' fill='%232d0a47'/%3E%3Cpath d='m1.18e3 82v88h50z' fill='%23270541'/%3E%3Cpath d='m1.03e3 0 150 82-40-82z' fill='%23310c4b'/%3E%3Cpath d='m1.18e3 82-208 55 39 33h169z' fill='%232c0846'/%3E%3Cpath d='m1.14e3 0 40 82 10-82z' fill='%232f0b49'/%3E%3Cpath d='m961 0 11 137 208-55-150-82z' fill='%23330e4d'/%3E%3Cpath d='m951 170h60l-39-33z' fill='%232a0744'/%3E%3Cpath d='m731 131 31 39h189l21-33z' fill='%23300b4a'/%3E%3Cpath d='m773 47-42 84 241 6z' fill='%23350e4f'/%3E%3Cpath d='m871 0-98 47 199 90-11-137h-91z' fill='%23361050'/%3E%3Cpath d='m760 0 13 47 98-47h-111z' fill='%23340d4e'/%3E%3Cpath d='m731 131-6 39h37z' fill='%232d0947'/%3E%3Cpath d='m731 131-104 3 15 36h83z' fill='%23320d4c'/%3E%3Cpath d='m686 44 45 87 42-84-87-3z' fill='%23381152'/%3E%3Cpath d='m693 0-7 44 87 3-13-47z' fill='%23371151'/%3E%3Cpath d='m670 0 16 44 7-44h-23z' fill='%23320b4c'/%3E%3Cpath d='m686 44-59 90 104-3-45-87z' fill='%23371151'/%3E%3Cpath d='m627 134-50 36h65l-15-36z' fill='%23310c4b'/%3E%3Cpath d='m561 0 125 44-16-44z' fill='%23360f50'/%3E%3Cpath d='m478 0 149 134 59-90-125-44z' fill='%233a1454'/%3E%3Cpath d='m445 0 66 170h66l50-36-149-134z' fill='%23381252'/%3E%3Cpath d='m402 0-94 170h103l13-170h-22z' fill='%23330c4d'/%3E%3Cpath d='m342 0-74 40 21 130h19l94-170h-60z' fill='%23340e4e'/%3E%3Cpath d='m424 0-13 170h100l-66-170h-21z' fill='%23350e4f'/%3E%3Cpath d='m254 0 14 40 74-40h-88z' fill='%2330084a'/%3E%3Cpath d='m200 0 68 40-14-40z' fill='%232d0547'/%3E%3Cpath d='m268 40-158 59 134 71h45l-21-130z' fill='%2330094a'/%3E%3Cpath d='m110 99 3 71h131l-134-71z' fill='%232a0444'/%3E%3Cpath d='m103 0 7 99 158-59-68-40h-97z' fill='%23320a4c'/%3E%3Cpath d='m110 99zl-62 71h65l-3-71z' fill='%23290442'/%3E%3Cpath d='m110 99zl-110 20v51h48l62-71z' fill='%232e0748'/%3E%3Cpath d='m64 0 46 99-7-99h-39z' fill='%2330094a'/%3E%3Cpath d='m0 0v119l110-20-46-99h-64z' fill='%23320a4c'/%3E%3C/svg%3E");
  background-size: cover;
  background-color: $purple;
  &__inner {
    max-width: 525px;
    @include box-sizing(border-box);
    margin: 0 auto;
  }
  &__shapes {
    width: 36px;
    height: 36px;
    stroke-width: 250px;
    margin: 45px 5px 25px;
    &_yellow {
      fill: $yellow;
      stroke: $yellow;
    }
    &_pink {
      fill: $pink;
      stroke: $pink;
    }
    &_blue {
      fill: $blue;
      stroke: $blue;
    }
  }
  &__heading {
    color: $white;
    font-weight: 600;
    display: block;
    font-size: .875em;
    margin: 0 10px;
  }
  &__links {
    display: inline-block;
    margin: 10px;
    &_svg {
      fill: $white;
      stroke: $white;
      stroke-width: 0;
      @include transition(all .2s)
      &:hover {
        fill: $pink;
        stroke: $pink;
        stroke-width: 0;
      }
    }
  }
}

.blog {
  display: block;
  margin-top: .75rem;
  &__list {
    margin: 0 -.75em 0 0;
    padding: .75em .75em .75em 1.5em;
    list-style: none;
    border-left: .25em solid #999;
    border-image: linear-gradient(to bottom,
                                lighten(desaturate($purple,70%),50%) 25%,
                                lighten(desaturate($yellow,70%),25%) 25%,
                                lighten(desaturate($yellow,70%),25%) 50%,
                                lighten(desaturate($pink,70%),25%) 50%,
                                lighten(desaturate($pink,70%),25%) 75%,
                                lighten(desaturate($blue,50%),25%) 75%)
                                5;
    overflow: auto;
    @include transition(all .2s)
    @include box-shadow(0 1px 3px 0 rgba(255, 255, 255, 1));
    &:hover {
      background-color: lighten(desaturate($purple,60%),77%);
      border-image: linear-gradient(to bottom, $purple 25%, $yellow 25%, $yellow 50%, $pink 50%, $pink 75%, $blue 75%) 5;
    }
    &:hover > .blog__container-image > .blog__image {
      -webkit-filter: brightness(100%) grayscale(0);
      filter: brightness(100%) grayscale(0);
    }
  }
  &__link {
    text-decoration: none;
    color: $text-color;
  }
  &__heading {
    @extend .content__heading;
    margin: 0;
    font-size: 1.25em;
  }
  &__date {
    margin-top: .5em;
    font-size: .75rem;
    &_number {
      font-style: italic;
      font-weight: 600;
    }
  }
  &__excerpt {
    @extend .content__p;
    margin: .825em 0 0;
  }
  &__container-image {
    float: right;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-left: .75em;
    overflow: hidden;
    position: relative;
  }
  &__image {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    max-height: 500px;
    max-width: 500px;
    -webkit-filter: brightness(120%) grayscale(75%);
    filter: brightness(120%) grayscale(75%);
    @include transition(all .2s)
  }
}

.smile {
  width: 15px;
  height: 15px;
  line-height: 26px;
  margin-bottom: -3px;
}

.arrow {
  stroke: $text-color;
  width: 16px;
  height: 16px;
  margin: 0 0 -3px 6px;
}

// Responsivity
@include media-query($l) {
  .fp-features__box {
    max-width: 33%;
  }
}

@include media-query($m) {
  .o-vyluce-link a.o-vyluce-link,
  .jak-to-funguje-link a.jak-to-funguje-link,
  .skoly-link a.skoly-link,
  .vylukari-link a.vylukari-link,
  .media-link a.media-link,
  .spolek-link a.spolek-link,
  .blog-link a.blog-link,
  .prihlaska-link a.prihlaska-link {
  	color: $pink;
  }
  .header {
    &__site-logo {
      display: inline-block;
      margin: 20px auto 2px;
      &_svg {
        width: 125px;
        height: 66px;
        stroke: $white;
        stroke-width: 60px;
        fill: $white;
        &:hover {
          stroke: $blue;
          fill: $blue;
        }
      }
    }
    &__social-media {
      display: none;
    }
    &__contact {
      display: none;
    }
  }

  .dropdown {
    display: inline-block;
    float:right;
    line-height: 48px;
    margin-right: -25px;
    &__dropbtn {
      width:96px;
      padding: 31px 0;
      overflow: hidden;
      background-color: transparent;
      text-decoration: none;
      border: none;
      cursor: pointer;
    }
    &__content {
      display: none;
      font-size: 0.875em;
      z-index: 10;
      position: absolute;
      left:0;
      top: 96px;
      width: 100%;
      border: 1px solid #ddd;
      background-color: rgba(#f4f4f4, 0.97);
    }
    &__social-media {
      height: 38px;
      text-align: justify;
      background: #fff;
      border-bottom: 1px solid #ddd;
      &:after {
        content: "";
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      &_links {
        display: inline-block;
        width: calc(100% /3 - 1px);
        height: 38px;
        text-align: center;
        border-right: 1px solid #ddd;
        @include transition(all .2s);
        &:hover {
          background-color: rgba(#f4f4f4, 0.97);
        }
        &:hover > .fb-color {
          fill: #3b5998;
        }
        &:hover > .twitter-color {
          fill: #1da1f2;
        }
        &:hover > .instagram-color {
          fill:url(#instagramColor);
        }
      }
    }
    &__item-svg {
      width: 22px;
      height: 22px;
      fill: $text-color;
      @include transition(all .2s)
    }
    &__item {
      display: block;
      margin: 0 25px;
      color: $text-color;
      font-weight: 600;
      letter-spacing: 0.6px;
      border-bottom: 1px solid #ddd;
      text-decoration: none;
      @include transition(all .2s)
      &:hover {
        color: $pink;
      }
    }
  }
  .show {display:block;}
  .bar1,
  .bar2,
  .bar3 {
      width: 26px;
      height: 2px;
      border-radius: 8px;
      background-color: #fff;
      margin: 6px auto;
      transition: 0.2s;
  }
  .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-5px, 7px) ;
      transform: rotate(-45deg) translate(-5px, 7px) ;
  }
  .change .bar2 {
      opacity: 0;
  }
  .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-4px, -7px) ;
      transform: rotate(45deg) translate(-4px, -7px) ;
  }


  .nav-menu {
    display: none;
  }

  .fp-features {
    padding: 20px 0;
    &__box {
      max-width: 100%;
      width: 100%;
      margin: 12px auto -4px auto;
    }
  }

  .fp-about {
    &__photo {
      float: none;
      margin: 0 0 15px;
    }
  }
}
@include media-query($s) {
  .blog__list {
    padding: 1em;
  }
  .blog__container-image {
    float: none;
    width: 100%;
    margin: 0 0 1em 0;
  }
}
